h1 {
    font-family: 'Times New Roman', Times, serif;
    background-color: orange;
    color: firebrick;
    font-size: xx-large; /*It seems that custom sizes does not affect headers*/
}

h2 {
    color: blue;
    background-color: green;
    font-family: 'Times New Roman', Times, serif;
}

#bbm {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#fp {
    font-family: 'Times New Roman', Times, serif;
}

#ft {
    font-family: cursive;
}

.firma {
    color: brown;
    font-family: monospace;
}